body{ 
    Background-color: #FFCC66; 
    Background-image: url(fira02.jpg);
     Background-repeat: no-repeat; 
     Background-attachment: fixed;
     Background-position: center center; } 
    .gaya{ color:white; 
    text-align:center } 